@media only screen and (max-width: 1231px) {
  .header {
    padding: 16px 0;
  }
}

@media only screen and (max-width: 767px) {
  .header {
    padding: 21px 0;
  }
}
.header-container {
  display: flex;
  align-items: center;
  gap: 257px;
}

.header-auth {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media only screen and (max-width: 767px) {
  .header-auth {
    display: none;
  }
}
