<header class="header">
  <div class="header-container container">
    <nav class="nav">
      <button class="mobile-menu-btn" type="button">
        <load
          src="partials/icons.html"
          icon-path="img/sprite.svg#burger-menu"
          icon-class="mobile-menu-btn-icon"
          w="27"
          h="22"
        />
      </button>
      <a class="logo" href="./index.html" aria-label="Site logo">
        <img
          src="img/logo.png"
          alt="Logo icon abstract"
          width="26"
          height="25"
        />
        <load
          src="partials/icons.html"
          icon-path="img/sprite.svg#logo"
          icon-class="logo-icon"
          w="100"
          h="30"
        />
      </a>

      <load src="partials/nav-list.html" location="header-nav-list" />
    </nav>

    <ul class="header-auth">
      <li class="header-auth-item">
        <button class="btn outlined btn-primary" type="button">Sign In</button>
      </li>
      <li class="header-auth-item">
        <button class="btn filled btn-secondary" type="button">Sign Up</button>
      </li>
    </ul>
  </div>
</header>
