<section>
  <div class="container">
    <h2>Team</h2>
    <ul>
      <li>
        <load
          src="partials/picture.html"
          path="team/img-1"
          format="jpg"
          alt-text="Person"
          w="264"
          h="260"
        />
      </li>
      <li>
        <load
          src="partials/picture.html"
          path="team/img-1"
          format="jpg"
          alt-text="Person"
          w="264"
          h="260"
        />
      </li>
      <li>
        <load
          src="partials/picture.html"
          path="team/img-1"
          format="jpg"
          alt-text="Person"
          w="264"
          h="260"
        />
      </li>
      <li>
        <load
          src="partials/picture.html"
          path="team/img-1"
          format="jpg"
          alt-text="Person"
          w="264"
          h="260"
        />
      </li>
    </ul>
  </div>
</section>
